html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding:0;
    padding-bottom: 150px;
}

header {
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
}

nav {
    width: 80%;
    margin:auto
}

nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: underline;
    color: #000;
}

.current {
    color: #800d80;
}

#contact_main, #login_main {
    margin: 50px 0 0 100px;
}

#contact_wrapper, #login_wrapper {
    margin: auto;
}

#contact_wrapper form div, #login_wrapper form div {
    margin: 15px 0;
}

#contact_wrapper label, #login_wrapper label {
    display: inline-block;
    width: 70px;
    text-align: right;
    vertical-align: top;
}

#login_btn a {
    text-decoration: none;
    color: #000;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-left: 15px;
}

#copyright {
  text-align: center;
}

fieldset {
  border-style: none;
  width: 500px;
}

#update_events, #add_events {
    display: flex;
    flex-direction: column;
}
/*About Page*/
#ad{
    font-size: 30px;
    text-align: center;
}
#about h1{
    text-align: center;
    font-size: 40px;
}

#about img{
    width:390px;
    margin: 0 45px;
}

#about figcaption{
    width:390px;
    margin: 45px;
}

#about .row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
