html {
  font-family: 'Average Sans';
  position: relative;
}

body {
  min-height: 100%;
  margin: 0;
  color: #525353;
  font-size: 18px;
}

.wrapper {
  margin: 0 50px 0 50px;
  padding: 20px;
}

/* ----------------- header ------------------- */
/* ------------- Nav stuff ------------- */
/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 15px 10px -15px;
}

nav {
  display: flex;
  margin:auto;
  width: 80%;

}

/* Adjusted this code  - Susan */
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 5px auto 5px auto;
  text-decoration: none;
  font-weight: 600;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
  color:#679C44;
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  from {color: black}
  to {color: #679C44}
}


.login_btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}

.logout_btn {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin: 5px auto 5px auto;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.logout_btn:hover {
  color: #679C44;
  animation: fadeIn 0.5s;
}

.text_link {
  text-decoration: underline;
  color: blue;
}

.text_link:hover {
  color:#188530;
  animation: textLinkFade 0.2s;
}

@keyframes textLinkFade {
  from {color: blue}
  to {color: #188530}
}

/* taken from w3school for now*/
* {box-sizing:border-box}

/* ------------------ footer ---------------------- */
footer {
  margin: 100px 0 0 0;
  width: 100%;
  background-color:#333;
  color: #fff;
  padding: 20px;
  position: absolute;
  right: 0px;
  left: 0px;
}

#footer_content {
  display: flex;
  flex-direction: row;
}

#footer_content div {
  flex-grow: 1;
}

#footer_contact {
  margin-bottom: 3px;
}

footer a {
  color: #7f6fc4;
}

#copyright {
  text-align: center;
}

/* ------------------ home page ------------------- */


#mission {
  margin: 0 100px 0 100px;
  padding: 50px 20px 50px 20px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
}

#home_events_box {
float: left;
width: 50%;
padding-right: 80px;
text-align: justify;
}

#color_event{
background-color: #f0f9fe;
}


.slides {
  width: 50%;
  height : 200px;
}

#event_slideshow_wrap {
  padding: 50px 20px 50px 20px;
  margin: 0 100px 0 100px;
}

#home_resource_box {
  margin: 0 100px 0 100px;
  padding: 50px 20px 50px 20px;
}

#home_resouce_pic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#home_members_box {
  margin: 0 100px 0 100px;
  padding: 20px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
  clear: left;
}

#home_contact_box {
  margin: 0 230px ;
  padding: 20px;
}

#recycle_pic{
  width: 20%;
  height:20%;
}

#color_mem {
  background-color: #f0f9fe;
}

.home_titles a{
  text-align: center;
  text-decoration: none;
  color: green;
}

.static_img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* --------------- Contact us page------------------ */

#login_main {
  margin: 50px 0 0 100px;
}

#msg_submit {
  padding: 7px 25px;
  border-radius: 25px;
  font-size: 17px;
  background-color: rgb(16, 100, 65);
  color: white;
}

#contact_wrapper, #login_wrapper {
  margin: auto;
}

#contact_wrapper {
  display: flex;
  flex-direction: row;
}

#contact_wrapper div {
  flex-grow: 1;
}

#contact_wrapper img {
  width: 100px;
}

#contact_wrapper h2 {
  text-align: left;
}

#contact_wrapper form div, #login_wrapper form div {
  margin: 15px 0;
}

#contact_wrapper label, #login_wrapper label {
  display: inline-block;
  width: 70px;
  text-align: right;
  vertical-align: top;
}

#contact_wrapper textarea {
  margin: 0px;
  width: 560px;
  height: 225px;
  resize: none;
}

#contactForm {
  display:inline-block;
}

#contact_submit_wrapper {
  text-align:center;
}

#login_btn a {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 3px;
}

/* -------------- Events Page ----------------- */
fieldset {
  border-style: none;
  width: 500px;
}

#events_main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px 100px;
  width: 1000px;
  margin: 0px auto;
}

.events_row {
  display: block;
}

.event_forms {
  display: inline-block;
}

.events_page label {
  margin-bottom: 10px;
}

#pop_up, #behind_seams, #sewing_workshops {
  margin:100px 0;
}

.error {
  color: rgb(145, 22, 22);
}
/*About Page*/
#ad{
  font-size: 30px;
  text-align: center;
}
#note{
  font-size: 20px;
  text-align: center;
}
#about h1,h2{
  text-align: center;
}

#about h1{
  font-size: 40px;
}

#about h2{
  font-size: 30px;
}

#about .eboard{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}

.three{
  width:33%;
}

#about figcaption{
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

#about .row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 4%;
}

.textbox{
  margin-left: 40.3%;
  margin-bottom: 10px;
  font-size:20px;
}

label{
  display:inline-block;
  text-align: right;
}

#modify label{
  width:115px;
}

#add_mem label{
  width:130px;
}

.add_buttom{
  margin-left: 750px;
  margin-bottom: 10px;
  font-size:20px;
}

.pic{
  display: block;
  width:200px;
  margin: 0 45px;
}

.success {
  color: lightgreen;
}

.success.dark {
 color: green;
}

.resource_body{
  margin-left: 50px;
  margin-right: 50px;
}

.heavy_text {
  margin-left: 5%;
  margin-right: 5%;
}

.message{
  text-align: center;
  color:brown;
  font-size:20px;
}

/* ------------Table Stylings --------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 60px;
  margin-right: 10px;

}

td,th {
  border: 2px solid;
  border-color: #FFEA5D;
  text-align: center;
  padding: 10px;
}

.social_img {
  width: 25px !important;
  margin: 0 !important;
}

cite {
  font-size: 10px;
}

/* --------------logo?? ------------------*/
.logo {
  width: 120px;
  display: block;
  margin: auto;
}

#logo_a {
  margin: 0 0 0 60px;
}

.home_link {
  margin-left: 0 !important;
}

#logo_a:hover {
  background-color:inherit !important;
}
